.nav {
    background-color: black;
    border: none;
    border-top: 1px solid whitesmoke;
    
}
 .nav-item {
    color: white;
    font-weight: 800;
    border: none;
 }

 .nav-item:hover {
    border: none;
 }

 .logo-mercedes{
    background-image: url('../img/logos-MB.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
 }

 .nav-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
 }

